<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<div class="chat-table" id="chat-list">
  <% @messages.each do |message| %>
  <div class="chat-box">
    <div class="chat-message"><%= message.content %></div>
    <div class="chat-user-name"><%= message.user.name %></div>
  </div>
  <% end %>
</div>

<br>
<%= render 'form' %>
